/*-- common --*/
body {
    background-color: #32ccfe;
}
.top-container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 100;
    background-color: #32ccfe;
}

/*-- menu --*/
.menu-wrapper {
    border-bottom: 1px solid #2f93bd;
    width: 100%;
}

.menu-content {
    width: 100%;
    margin: 0 auto;
    max-width: 800px;
    padding: 0;
    font-size: 0;
    vertical-align: bottom;
}

.menu-item-search {
    display: inline-block;
    width: 50%;
    max-width: 50%;
    vertical-align: bottom;
}

.menu-item-search img {
    width: 100%;
}

.menu-item-directory {
    display: inline-block;
    color: #000;
    width: 50%;
    max-width: 50%;
    vertical-align: bottom;
    text-align: center;
    position: relative;
}

.menu-item-directory img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.menu-item-directory span {
    display: inline-block;
    padding: 10px 20px 7px;
    position: relative;
    z-index: 5;
    font-size: 12px;
    line-height: 14px;
    text-transform: capitalize;
}
@media (min-width: 480px) {
    .menu-item-search {
        width: auto;
    }

    .menu-item-directory {
        width: auto;
    }
    .menu-item-directory span {
        font-size: 16px;
        line-height: 18px;
        padding: 18px 50px 12px;
    }
}
@media (min-width: 768px) {
    .menu-item-directory span {
        font-size: 20px;
        line-height: 24px;
        padding: 18px 80px 12px;
    }
}
@media (min-width: 800px) {
    .menu-content {
        padding: 5px 20px 0;
    }

        .menu-content a {
            width: auto;
        }

    .menu-item-directory {
        margin: 0 0 0 20px;
    }
}
